---
title: UX & UI
layout: design-detail
---

	<body>
	{% include header.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

					<div class="row">
						<div class="12u">

							<!-- UX & UI -->
								<section class="stories">
									<header class="major">
										<h2>UX &amp; Interfaces</h2>
									</header>
									<div class="row">

									{% for post in site.designs limit: 8 %}
										{% if post.genre == 'ux-and-ui' %}
													<div class="6u">
														<section class="box">
															<div class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></div>
															<header>
																<h3>{{ post.title }}</h3>
															</header>
															{{ post.content }}

														</section>
													</div>
										{% endif %}
									{% endfor %}
									</div>
								</section>

						</div>
					</div>

					</div>
					</div>
