<!-- Case Studies -->
<div class="row">
  <div class="12u">
    <section class="designs">

      <div class="row">
        <section class="full-width-casestudy">
          <div class="casestudy image uxdesign 3u">
          </div>
          <div class="casestudy text 9u">
            <h2>Organizational UX Design</h2>
            <p>When systems and and product needs are complex, I rely on my toolkit of User-centered, empathy-powered approaches.</p>
            <ul class="skillset">
              <li>#uxDesign</li>
              <li>#Culture</li>
              <li>#DesignSystems</li>
              <li>#HardConversations</li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="full-width-casestudy">
          <div class="casestudy image designmentor 3u">
            
          </div>
          <div class="casestudy text 9u">
            <h2>Design Mentoring for Level-uppers</h2>
            <p>Mentoring people who are establishing or increasing their design powers has been an incredible boost to my own skills as a designer.</p>
            <ul class="skillset">
              <li>#uxDesign</li>
              <li>#Listening</li>
              <li>#GenuineInterest</li>
              <li>#CommunicationPresentation</li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="full-width-casestudy">
          <div class="casestudy image stagepresenter 3u">
            
          </div>
          <div class="casestudy text 9u">
            <h2>Public Speaking for Provocative Thinking</h2>
            <p>Using rooms full of strangers as cognitive therapist since 2014, I work out some of my angst and most interesting design ideas on stage.</p>
            <ul class="skillset">
              <li>#uxDesign</li>
              <li>#ScaredButDoItAnyway</li>
              <li>#MyStoriesAreYourStories</li>
              <li>#CommunicationPresentation</li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="full-width-casestudy">
          <div class="casestudy image visualdesign 3u">
            
          </div>
          <div class="casestudy text 9u">
            <h2>Visual Design for Music Projects</h2>
            <p>From mix-tapes to parties and concerts, my first impulse to design commercially came from the needs of music projects I've worked on.</p>
            <ul class="skillset">
              <li>#VisualDesign</li>
              <li>#Music</li>
              <li>#GraphicDesign</li>
              <li>#dj4Life</li>
            </ul>
          </div>
        </section>
      </div>

    </section>
  </div>
</div>
