<!-- Portfolio -->
<div class="row">
  <div class="12u">
    <section class="designs">
      <div class="row">
        <div class="4u">
          <section class="box">
            <a href="visual-and-print-designs.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/fnd-snd-square.png" alt="FND SND design" /></a>
            <header>
              <h3>Visual &amp; Print Design</h3>
              <h4 class="skillset">#skillset</h4>
            </header>
            <p>My very first and always favorite form factor is the poster and album artwork. Creative constraints FTW.</p>
          </section>
        </div>
        <div class="4u">
          <section class="box">
            <a href="illustration-and-typography.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/black-august-2007.jpg" alt="Black August illustration" /></a>
            <header>
              <h3>Illustration &amp; Typography</h3>
              <h4 class="skillset">#skillset</h4>
            </header>
            <p>Sometimes the keyboard just won't cut it for the task at hand and I pick up the pen and pencil.</p>
          </section>
        </div>
        <div class="4u">
          <section class="box">
            <a href="ux-and-ui.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/list-design-abstract-link.png" alt="An interface design" /></a>
            <header>
              <h3>UX &amp; Interface Design</h3>
              <h4 class="skillset">#skillset</h4>
            </header>
            <p>Building a variety of interfaces for websites and apps, I've made lots and lots of boxes. Lots.</p>
          </section>
        </div>
      </div>

    </section>
  </div>
</div>
