<!-- Case Studies -->
<div class="row">
  <div class="12u">
    <section class="designs">

      <div class="row">
        <div>
          <section class="full-width-casestudy">
            <div class="casestudy image uxdesign 3u">
              <a href="2016/07/10/nipo.html"></a>
            </div>
            <div class="casestudy text 9u">
              <h2><a href="2016/07/10/nipo.html">UX Design for Organizations</a></h2>
              <p>When systems and and product needs are complex, I rely on my toolkit of User-centered, empathy-powered approaches.</p>
              <ul class="skillset">
                <li>#uxDesign</li>
                <li>#Culture</li>
                <li>#DesignSystems</li>
                <li>#HardConversations</li>
              </ul>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div>
          <section class="full-width-casestudy">
            <div class="casestudy image visualdesign 3u">
              <a href="visual-and-print-designs.html"></a>
            </div>
            <div class="casestudy text 9u">
              <h2><a href="visual-and-print-designs.html">Visual Design for Music Projects</a></h2>
              <p>From mix-tapes to parties and concerts, my first impulse to design commercially came from the needs of music projects I've worked on.</p>
              <ul class="skillset">
                <li>#VisualDesign</li>
                <li>#Music</li>
                <li>#GraphicDesign</li>
                <li>#dj4Life</li>
              </ul>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div>
          <section class="full-width-casestudy">
            <div class="casestudy image designmentor 3u">
              <a href="2016/07/10/nipo.html"></a>
            </div>
            <div class="casestudy text 9u">
              <h2><a href="2016/07/10/nipo.html">Design Mentoring for Level-uppers</a></h2>
              <p>Mentoring people who are establishing or increasing their design powers has been an incredible boost to my own skills as a designer.</p>
              <ul class="skillset">
                <li>#uxDesign</li>
                <li>#Listening</li>
                <li>#GenuineInterest</li>
                <li>#CommunicationPresentation</li>
              </ul>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div>
          <section class="full-width-casestudy">
            <div class="casestudy image stagepresenter 3u">
              <a href="2016/07/10/nipo.html"></a>
            </div>
            <div class="casestudy text 9u">
              <h2><a href="2016/07/10/nipo.html">Public Speaking for Provocative Thinking</a></h2>
              <p>Using rooms full of strangers as cognitive therapist since 2014, I work out some of my angst and most interesting design ideas on stage.</p>
              <ul class="skillset">
                <li>#uxDesign</li>
                <li>#ScaredButDoItAnyway</li>
                <li>#MyStoriesAreYourStories</li>
                <li>#CommunicationPresentation</li>
              </ul>
            </div>
          </section>
        </div>
      </div>

    </section>
  </div>
</div>
