<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Nav -->
						<nav id="nav">
							<ul>

								<li><a href="{{ site.baseurl }}/#designs">My Designs</a></li>
								<li><a href="{{ site.baseurl }}/#stories">My Stories</a></li>
								<li><a href="https://blog.qaidjacobs.com">My Writing</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Qa&rsquo;id Jacobs - Product &amp System Designer</h2>
								<p>Staying dry in Amsterdam; raising eye brows and a small family</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<header>
									<h3>I thrive when building and refining systems and products that embrace and deliver on user needs and experiences. I'm passionate about understanding the systems involved in any design challenge and have led teams designing solutions for projects across industries.</h3>
								</header>
							</div>
							</div>
							<footer>
								<ul class="actions">
									<li class="mobile-side-margin"><a href="https://resume.qaidjacobs.com" class="button alt">Check out my resume</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
