<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						{% assign current = page.url | downcase | split: '/' %}
						<li><a href="{{ site.baseurl }}/">Home</a></li>
						<li><a href="{{ site.baseurl }}/#designs">My Designs</a></li>
						<li class='current'><a href="{{ site.baseurl }}/#stories">My Stories</a></li>
						<li><a href="https://blog.qaidjacobs.com">My Writing</a></li>
					</ul>
				</nav>

				<div class="header-img">
					
				</div>

		</div>
	</div>
