<div class="row">
  <div class="12u">
    <section class="designs">

      <div class="row">
        <div class="4u">
          <section class="box">
            <a href="2016/07/10/nipo.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/gallery-of-ideas.jpg" alt="A collaborative process of design" /></a>
            <header>
              <h3>Redesigning a flagship product</h3>
              <h4 class="skillset">#mystories</h4>
            </header>
            <p>In order to prioritize the right ideas, I organized Design Sprints, prototyped ideas, iterated on them, and shipped.</p>
          </section>
        </div>
        <div class="4u">
          <section class="box">
            <a href="2016/07/09/booking.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/booking-interface-design.png" alt="Interface design for Booking.com" /></a>
            <header>
              <h3>Reducing noise; increasing conversions</h3>
              <h4 class="skillset">#mystories</h4>
            </header>
            <p>At Booking.com I designed flows and UI to speed users through the funnel with confidence in their decisions.</p>
          </section>
        </div>
        <div class="4u">
          <section class="box">
            <a href="2016/07/03/ccr.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/ccr-website.png"" alt="Website design for advocacy" /></a>
            <header>
              <h3>Telling stories; inspiring action</h3>
              <h4 class="skillset">#mystories</h4>
            </header>
            <p>I designed physical and digital media which told compelling stories to inspire action.</p>
          </section>
        </div>
      </div>

    </section>
  </div>
</div>



</div>
</div>
