<section id="two" class="spotlights">
	<section>
		<a class="image"><img src="assets/images/qaid-jacobs-sitting-in-leather-chair.jpg" alt="Qaid Jacobs sitting in chair" data-position="center center" /></a>
		
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>About Me</h3>
				</header>
				<p>My name is Qa&rsquo;id (pronounced: <i>k-eye-eed</i>). I'm a designer and thinker cut from a different cloth. I've done creative and strategic work in 5 different industries over the past 15 years. I've got strong opinions that are [usually] loosely held. I believe that Time is short and Life is grand. My <a href="https://blog.qaidjacobs.com">blog is on Medium</a> at the moment. My playlist game is strong on <a href="https://open.spotify.com/user/djhumble?si=3s9HfXuDT4KzqMP15Ymh2Q">Spotify</a> and my visual story telling in effect on <a href="https://instagram.com/qaid">Instagram</a>.  

				<p>Connect with me and let's do something meaningful.</p> 

				<p>My full <a href="https://resume.qaidjacobs.com" title="Qa'id's online resume and CV">CV and Resume are online at resume.qaidjacobs.com</a></p>
			</div>
		</div>
	</section>	
</section>